* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: monoItalic;
    src: url(./font/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: monoVar;
    src: url(./font/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

.monoItalic {
    font-family: monoItalic;
}

.monoVar {
    font-family: monoVar;
}

.logo {
    color: rgb(74, 22, 246);
}
.menu {
    height: 50px;
    padding: 15px;
    display: flex;
    justify-content: space-between;



}

.nav a {
    color: black;
    text-decoration: none ;
}

nav a:last-of-type {
    padding: 10px 20px;
    border-radius: 20px;
    color: aliceblue;
    background-color: rgb(74, 22, 246);
}

kontakt:hover {
    background-color: black;
}